.side-bar-container {
    background-color: white;
    width: 200px;
    padding-left: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    transform: translateX(-101%);

    transition: transform 0.3s ease-in-out;
    border-radius: 6px;
    
    .user-info {
        padding: 4px;
        h4 {
            font-size: 15px;
        }

        h6 {
            font-size: 12px;
        }
        
    }

    .others {
        border-top: 1px solid rgb(15, 12, 12);
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 0 20px 0;
        
        div, h5 {
            margin: 0;
        }

        .to-reviews-page {
            cursor: pointer;
            a {
                text-decoration: none;
                font-size: 16px;
                color: black;
            }
        }
    }
}

.active {
    transform: translateX(-2%)
}