
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin:0;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

main {

    display: flex;
    flex-direction: column;
    background-color: rgb(214, 208, 208);
    height: fit-content;
    overflow-x: hidden;
    width: fit-content;
}

.header-container {
    display: flex;
    justify-content: space-between;
    // background-image: url('../../contexts/images/martian outdoor.jpg');
    
    
    height: 70vh;
    
    padding: 20px 60px 0 0;
    opacity: 0.6;
    transition: opacity 0.5s ease-in;
    background-size: cover;
    // position: relative;
    font-family: Archivo;
    position: relative;
    z-index: 3;
   
    .logo {
        display: flex;
        justify-self: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px;
        // padding-top: 30px;
        border-radius: 50%;
        font-family: Luxurious Script;
        background-color: antiquewhite;
        width: 100px;
        // font-size: 100px;
        // background-color: black;

    }

    .links-header {
        padding: 15px 20px 0 20px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        // background-color: black;
        height: 50px;

        h6 {
            font-size: 70%;
        }
       
       
       
        .sub-header {

            display: flex;
            justify-content: space-between;
            gap: 20px;
            opacity: 1;
            position: relative;
            z-index: 1;
            // background-color: black;
            width: 120%;
            justify-self: center;
            align-items: center;
            // background-color: blue;
           

            .dropdown1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                
               
                
                
               
                
               
    
                .dropdown-content {
                    display: none;
    
                    
                }
    
                .home-link{
                    height: 50px;
                    align-self: center;
                    // background-color: blue;
                    display: flex;
                    align-items: center;
                }
        
               
               

        }
        
            

           
    
        }

        
       

       
        a {
           
            color: white;
            text-decoration: none;
            opacity: 1;
            // font-size: 1% !important;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease;
        }

       
        
        
        a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        }
        
        a:hover::after {
        transform: scaleX(1);
        transform-origin: center;
        }
        

        .authentication-links-container {
            display: flex;
            flex-wrap: nowrap;
            word-wrap: none;
            // overflow: hidden;
            width: 100px;
            height: inherit;


            justify-content: space-between;

            .signIn {
                flex: 1;

                .none:hover::after {
                    transform: scaleX(0);
                    transform-origin: center;
                    }
                
            }

           

            .signOut{
               position: relative;
               
            }


            
          
    
        }

        .dropdowns {
            display: flex;
            gap: 20px;
            color: wheat;
            
            
            width: 50%;

            div {
                flex: 1;
                background-color: transparent;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 10px 10px ;
                border-bottom: 2px solid white;
                visibility: hidden;

                h6 {
                    cursor: pointer;
                }
               
              

            }

            .second {
                display: flex;
                // flex-direction: row;
                
                h6 {
                    margin: 5px;
                    border-bottom: 2px solid white;
                }
            }
            
        }
        
    }

   

   

    
}

.left {
    transform: translateX(-500%);
    transition: transform ease-in 2s;
    
   
    display: none;
}

.right {
    transform: translateX(500%);
    transition: transform ease-in 2s;
    display: none;
}


.fade-in {
    opacity: 1;
}

.blur {
    filter: blur(10px);
}

// .visible {
//     visibility: visible;
// }



@media screen and (max-width: 770px) {
    .header-container {
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        margin: 0;
        width: 100%;
        
        

        .logo {
            transform: translateX(-150%);
            width: 80px;
            height: 80px;

            
            h2{
                font-size: 16px;
            }
           
            margin: 0;
        
        }
        .links-header {
            width: fit-content;
            margin-left: 60px;
        

        transform: translateX(-40%);

         h6 {
            font-size: 12px;
        }
     }
    }
 }